# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Uploads & Local Storage
uploads/
server/uploads/

# OS / Editor files
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# Local runtime/database files
*.db
*.sqlite
*.sqlite3

# Temporary files
*.tmp
*.temp